@font-face {
    font-family: 'Poppins', 'Halant', serif;
}

.icon {
    height: 32px;
    width: 32px;
}

body {
    background-color: black;
}

ul {
    list-style: none;
}

nav {
    /*"nav floats in mobile view"*/
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links {
    display: none;
    font-family: 'Poppins', serif;

}

.headshot-sm {
    height: auto;
    width: auto;
    max-width: 64px;
    margin: 10px;
    border-radius: 50%;
    border: 3px solid #F2D653;
}

.headshot-lg {
    visibility: hidden;
    display: none;
}

#about-and-links-container {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.proj-preview {
    max-width: 100%;
    flex-direction: column;
}

h1, a, h4 {
    color: orangered;
    font-family: "Poppins", serif;
    text-decoration: none;
}

h2, h3 {
    color: orangered;
    font-family: "Poppins", serif;
    font-size: 1.75rem;
}

p {
    margin: 10px;
    color: #f4ebc1;
    font-family: "Halant", sans-serif;
    font-size: 1rem;
    font-weight: bolder;
    line-height: 1.5;
}

a {
    font-weight: bold;
}

h2, h3, h4, p {
    text-align: center;
}

#footer-links {
    width: 100%;
}

#footer-links > h2 {
    margin: 0;
    width: 100%;
}

.footer-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    text-align: center;
    padding: 0;
}

#med-contact-links {
    visibility: hidden;
    height: 1px;
}

main {
    text-align: center;
    width: 100%;
}

title {
    text-align: left;
}

#octo-lg {
    max-width: 100vw;
}

.resize {
    width: calc(100vw - 100px);
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

#scroll-down {
    visibility: hidden;
    display: none;
}

#projects {
    width: auto;
    margin: 10px;
}

#about-me {
    width: 100%;
}

.proj-preview {
    max-width: 66vh;
}

.indiv-project-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border: 2px #f4ebc1;
    border-style: dotted none;
    flex-direction: column;
}

.indiv-project-container > h3 {
    flex: 0 0 100%;
}

h4 {
    margin: 0;
}

.headshot-sm {
    max-height: 64px;
    max-width: 64px;
    margin: 5px;
}

#top-link {
    text-align: center;
    margin-top: 10px;
}

#thanks > p > img {
    vertical-align: middle;
}

@media only screen and (min-width: 768px) {
    main {
        text-align: center;
        width: 100%;
    }

    title {
        text-align: left;
    }

    #footer-links {
       visibility: hidden;
    }

    #octo-lg {
        max-width: 100vw;
    }

    .resize {
        width: calc(100vw - 100px);
        margin-bottom: 50px;
        margin-left: auto;
        margin-right: auto;
    }

    #scroll-down {
        height: 64px;
        width: 64px;
        position: absolute;
        bottom: 5%;
        right: 3%;
    }

    #med-contact-links {
        visibility: visible;
        height: auto;
        width: 25vw;
    }

    .contact-links-top {
        padding: 0;
    }

    #projects {
        width: auto;
        margin: 10px;
    }

    .footer-links {
        flex-direction: column;
    }

    #about-and-links-container {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }

    #about-me {
        width: calc((100vw / 4) * 2);
    }

    .proj-preview {
        max-width: 66vh;
    }
    
    .indiv-project-container {
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        border: 2px #f4ebc1;
        border-style: dotted none;
        flex-direction: row;
    }

    .indiv-project-container > p {
        width: 33vw;
    }

    .indiv-project-container > h3 {
        flex: 0 0 100%;
    }

    h4 {
        margin: 0;
    }

    .headshot-sm {
        max-height: 64px;
        max-width: 64px;
        margin: 5px;
    }
}

@media only screen and (min-width: 1080px) {
    h1 {
        font-size: 2.75rem;
    }
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .nav-links {
        display: flex;
        justify-content: space-evenly;
    }

    .nav-item {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 1.5rem;
    }

    #scroll-down {
        height: 64px;
        width: 64px;
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

    #med-contact-links {
        width: 0;
        display: none;
    }

    #about-me {
        width: 100%;
        display: inline-flex;
        flex-wrap: wrap;
    }

    h2 {
        font-size: 2rem;
    }

    .proj-preview {
        max-width: 22vw;
    }

    #about-me {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #about-me > h2 {
        margin-bottom: 50px;
    }

    #about-me > p {
        width: 45%;
        margin: 50px;
    }

    .headshot-sm {
        visibility: hidden;
        display: none;
    }

    .headshot-lg {
        visibility: visible;
        display: flex;
        width: 128px;
        border-radius: 50%;
        border: 3px solid #f4ebc1;
        margin: 50px;
    }

    .footer-links {
        flex-direction: row;
        margin: 100px 0 50px 0;
    }

    #footer-links {
        visibility: visible;
    }

    #proj-wrap {
        display: flex;
        flex-direction: row;
        justify-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
        align-content: space-around;
    }

    .proj-preview {
        max-width:33%;
    }

    .indiv-project-container {
        max-width: 33%;
    }

    .indiv-project-container > p {
        text-align: left;
        margin-top: 50px;
        height: 350px;
        width: auto;
    }

    .indiv-project-container > h3 {
        margin: 50px 0 50px 0;
    }

    .resize {
        height: auto;
        max-width: 100%;
    }

    a {
        text-align: center;
    }

    #thanks {
        max-height: 19px;
    }
    


}